<% include ../partials/header %>

<div class="container displaycondostyle">
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <img class="img-responsive" src ="<%=condo.image%>">
                <div class="caption-full">
                    <h4 class="pull-right">$<%=condo.price%></h4>
                    <h4><a><%=condo.name%></a></h4>
                    <p><%= condo.description %></p>
                    <p>
                        <em>Submitted by <%= condo.author.username %></em>
                    </p>
                    <% if(currentUser && condo.author.id.equals(currentUser._id)){ %>
                        <a class="btn btn-xs btn-info" href="/condos/<%= condo._id %>/edit">Edit</a>
                        <form class="delete-form" action ="/condos/<%= condo._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <p>
                        <a class = "btn btn-info" href="/condos/<%= condo._id %>/comments/new">Add New Comment</a>
                    </p>
                </div>
                <hr>
                <% condo.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <p>
                                 <%= comment.text %>
                            </p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                                <a class="btn btn-xs btn-info" href="/condos/<%= condo._id %>/comments/<%= comment._id %>/edit">Edit</a>
                                <form class="delete-form" action="/condos/<%= condo._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
                                    <input type ="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }) %>                
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>